/* This file will hold the main styles for your website. */

$text-color: #313131;
$border-color: #619069;
$light-color: #6DC07B;
$background-color: lighten($light-color, 29%);
$background-light-color: #ffffff;
$dark-color: darken($light-color, 29%);

/* Base styling */
body {
    font: 16px/1.5 Georgia, "Times New Roman", serif;
    color: $text-color;
    background-color: $background-light-color;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", serif;
    font-weight: normal;
    letter-spacing: normal;
    color: $dark-color;
}
a:link,
a:visited,
a:hover {
    color: #4C9559;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 0.4em;
}

/* Header section */
#zone-branding {
    background-color: $dark-color;
    .region-branding-inner {
        padding: 0 11px;
    }
    h1 {
        font-size: 175%;
        padding: 0.2em 0;
        margin: 0;
        
        a {
            text-decoration: none;
            color: $light-color;
            margin: 0;
            font-weight: normal;
            text-shadow: 2px 2px 5px rgba(22,22,22,0.4);
        }   
    }
}

#zone-menu {
    background-color: $background-color;
    border-top: 2px solid #fb968e;
    nav {
        font-family: Georgia, "Times New Roman", serif;
        font-size: 75%;
        font-weight: normal;
        ul {
            li {
                margin: 11px;
                padding: 0;
                display: inline-block;
                width: 75px;
                height: 25px;
                line-height: 25px;
                border: 1px solid $dark-color;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    
    ul {
        .active, .active-trail {
            background: $dark-color;
            color: $light-color;
        }
    }
    a {
        text-decoration: none;
        color: $dark-color;
        background-color: $light-color;
        display: inline-block;
        width: 75px;
        &:hover { color: $light-color; background: $dark-color; }
        &.active:hover, &.active-trail:hover { color: $light-color; }
    }    
}

/* Content section */
.region-content-inner {
    padding: 0 11px;
}

#zone-content {
    background-color: White;
    padding-bottom: 11px;
    padding-top: 11px;
    h1.title, h1.node-title {
        font-size: 150%;
    }
    section {
        h1 {
            font-size: 130%;
            margin: 1em 0 0;
        }
        h2 {
            font-size: 110%;
            margin-bottom: 0;
        }
    }

    aside {
        .block {
            margin: 1em 0;
/*            border: 1px solid $border-color;*/
            box-shadow: 2px 2px 3px rgba(22,22,22,0.4);;
        }
        h2.block-title {
            color: $dark-color;
            background-color: darken($background-color,10%);
            border-bottom: 3px solid lighten($background-color, 8%);
            padding: 0 0.4em;
            margin: 0;
            font-size: 130%;
            a {
                color: $dark-color;
                text-decoration: none;
            }
        }
        .content {
            margin: 0.6em;
        }
    }
}

/* Footer section */
#section-footer {
    padding-bottom: 22px;
}
#zone-footer {
    text-align: center;
    background-color: $background-color;
    color: $dark-color;
    font-size: 80%;
     a { color: $dark-color; }
}
.region-footer-first-inner {
    margin: 11px;
}